<mat-toolbar class="app-header" color="white">
    <div class="divider-left">
        <img src='../../assets/image/construction.jpeg' class="image-house" alt='image'>
    </div>
    <div class="divider-center">
        <span class="text-span">For Rent</span>
        <span class="text-span">Property Management</span>
        <span class="text-span">Pricing</span>
        <span class="text-span">Prockage Service</span>
        <span class="text-span">About</span>
        <span class="text-span">LogIn</span>
    </div>
    <div class="divider-right">
        <button mat-raised-button class="search-btn">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-raised-button color="accent">
            <mat-icon>chat</mat-icon>
            Let's Chat
        </button>
    </div>
</mat-toolbar>