.mat-toolbar {
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.image-house {
    width: 150px;
    height: 70px;
}
.text-span{
    margin-left: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.search-btn {
    margin-right: 10px;
}