<mat-tab-group mat-align-tabs="start">
    <mat-tab label="View List">
        <div class="main-view mat-elevation-z4">
            <div class="side-view">
                <mat-card class="card-view width-90 mat-tab-group">
                    <div class="margin-bottom-20 flex-space-around">
                        <span class="font-bold">Search</span>
                        <span class="font-bold app-color">Clear Search</span>
                    </div>
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Address, City, or Zip</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </p>
                </mat-card>
                <mat-card class="card-view width-90">
                    <div class="margin-bottom-20  flex-space-around">
                        <span class="font-bold">Filter</span>
                        <span class="font-bold app-color">Clear Filter</span>
                    </div>
                    <form [formGroup]="stateForm">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>State</mat-label>
                            <input type="text" matInput formControlName="stateGroup" required
                                [matAutocomplete]="autoGroup">
                            <mat-autocomplete #autoGroup="matAutocomplete">
                                <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                                    <mat-option *ngFor="let name of group.names" [value]="name">
                                        {{name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>City</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Propery Type</mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Pets</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </form>

                </mat-card>
            </div>
            <div class="content-view">
                <div *ngFor="let product of product">
                    <div *ngIf="product && product.id > 1" class="mat-margin-top"></div>
                    <mat-card class="card-view">
                        <div class="main-view">
                            <div class="content-fex-1">
                                <img [src]='product.image' class="image-house" alt='image'>
                            </div>
                            <div class="content-flex-2">
                                <div class="content-top-status">
                                    <mat-icon>alarm_add</mat-icon>
                                    <span class="waiting-span">Waiting List</span>
                                </div>
                                <span class="content-address">Coming Soon-Chanming Ranch with
                                    French
                                    Yargd in Andrwson</span><br><br>
                                <span>138, ChitWood Dr <br> Androson IN 67-333-33</span><br><br>
                                <span>3beds, 2.0beds</span><br>
                                <span>Available: 8/21/2022</span>
                            </div>
                            <div class="content-fex-1">
                                <div class="flex-end">
                                    <span class="amount-text">$555.3</span>
                                </div>
                                <div class="flex-end mat-margin-top">
                                    <button (click)="notify.emit({id:product.id})" mat-raised-button color="accent">
                                        <mat-icon>schedule</mat-icon>
                                        SCHEDULE VIEWING
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="View Map">
        <div class="main-view mat-elevation-z4">
            <div class="content-center">
                <img src="../../assets/image/under-dev.jpg" alt="Under Development">
            </div>
        </div>
    </mat-tab>
</mat-tab-group>