.mat-tab-group {
  margin-bottom: 20px;
}

.mat-margin-top {
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
}

.image-house {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.main-view {
  display: flex;
  flex: 1;
}

.side-view {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  margin: 10px;
}

.card-view {
  background-color: #f8f8f8;
  border: 1px solid lightgrey;
}

.width-90 {
  width: 90%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.flex-space-around {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.font-bold {
  font-weight: bold;
}

.app-color {
  color: #5f2b6b;
}

.content-view {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  margin: 10px;
}

.content-fex-1 {
  flex: 0.2;
}

.content-flex-2 {
  flex: 0.6;
  margin: 5px 5px 5px 20px
}

.content-top-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.waiting-span {
  font-size: 10px;
  margin-left: 5px;
}

.content-address {
  font-weight: bold;
  font-size: medium;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.amount-text {
  font-weight: bold;
  font-size: large;
}
.content-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}